body{
background-color: #393e46;
}
.heading-player{
    font-family: 'Russo One', sans-serif;
    color: #4ECCA3;
}
.heading-dice-img{
    height: 50%;
    width: 50%;
}
#id{
padding:5%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container{
width: 70%;
margin: auto;
text-align: center;
padding-bottom: 5%;
}
.heading-top {
font-size: 8rem;
font-family: 'Kaushan Script', cursive;
font-weight: bold;
color: #4ECCA3;
}

footer {
text-align: center;
color:aliceblue ;
}
@media (max-width:880px) {
    .heading-top {
        font-family: 'Kaushan Script', cursive;
        color: #4ECCA3;
        font-size: 3rem;
    }
